<div class="container col-7">
  <div class="row align-items-center justify-content-between">
    <h1 class="display-4">Accounts</h1>
    <a class="btn btn-dark" href="/accounts/new">Create</a>
  </div>
  <div class="row">
    <table class="table table-dark table-striped table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Taxes</th>
        <th scope="col">Roth</th>
        <th scope="col">Traditional</th>
        <th scope="col">ASPP</th>
        <th scope="col">Deductions</th>
        <th scope="col">Net Pay</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>